// COMMON
:root {
  --gap: 30px;
  --number: 1;

  @media only screen and (min-width: 768px) {
    --number: 2;
  }

  @media only screen and (min-width: 1200px) {
    --number: 3;
  }

  @media only screen and (min-width: 1440px) {
    --number: 4;
  }

  @media only screen and (min-width: 1920px) {
    --number: 5;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin-top: 40px;
}


// @media only screen and (max-width: 576px) {
//   .wrapper {
//     max-width: 100%;
//   }
// :root {
//   --number: 2;
// }
// }

// Các media query nằm trong từng class
.wrapper {
  max-width: 1320px;
  margin: auto;

  @media only screen and (max-width: 576px) {
    max-width: 100%;
  }

  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media only screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1320px;
  }

  @media only screen and (min-width: 1920px) {
    max-width: 1800px;
  }
}

// START - CATEGORY SECTION

.section--category {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 84px;

    &__content {
      color: #101010;
      font-family: Inter;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      /* 117.647% */
      letter-spacing: -0.34px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__icon {
      width: 28px;
      height: 28px;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .category {
    min-width: 270px;
    /* flex-grow: 1; */
    border-radius: 24px;
    background: #F6F6F6;
    position: relative;
    padding: 20px 30px;

    
  @media only screen and (max-width: 576px) {
    width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
  }

  @media only screen and (min-width: 576px) {
    width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
  }

    &__content {}

    &__name {
      color: #171717;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 100% */
      letter-spacing: -0.24px;
      margin-bottom: 16px;
    }

    &__description {
      color: #969696;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      /* 138.889% */
    }

    &__price {
      color: #FF4415;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 25px;
    }

    &__image {
      position: absolute;
      bottom: 32px;
      right: 24px;
      width: 120px;
      height: 120px;
    }
  }
}

// END - CATEGORY SECTION