@media only screen and (max-width: 992px) {
  .menu__item {
    width: calc((100% / 2) - 30px);
  }

  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .menu__item {
    width: calc((100% / 1) - 30px);
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  
  html {
    font-size: 10px;
  }
}
